@keyframes link1 {
    
    from{
        top: -40%;
        opacity: 0;
    }


    to{
        top: 0%;
        opacity: 1;
    }
    
}

.link1{
    animation: link1 1s ease-in forwards;
    animation-delay: 100ms;
}


@keyframes link2 {
    
    from{

        left: -40%;
        opacity: 0;
    }


    to{
        left: 0%;
        opacity: 1;
    }
    
}

.link2{
    animation: link2 1s ease-in forwards;
    animation-delay: 100ms;
}



@keyframes link4 {
    
    from{

        bottom:-20%;
        opacity:0;
    }



    to{
        bottom: 0;
        opacity: 1;
    }
    
}


.link4{
    animation: link4 1s ease-in forwards;
    animation-delay: 300ms;
}


@keyframes mobileSlide {

    from{

        opacity:0;
        left: -20%;
        // top:-5rem;

    }


    to{

        opacity:1;
        left:50%;
        // top:5rem;
    }
    
}
.mobileSlideIn{
    animation: mobileSlide 700ms ease-in-out forwards; 
}


@keyframes mobileSlideOut {

    from{

        left: 50%;
        opacity: 1;

    }

    to{

        left:-50%;
        opacity:1;
     
    }
    
}

.mobileSlideOut{
    animation: mobileSlideOut 800ms ease-in-out;
}