html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

*, a:visited, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--plr {
  padding-left: 8rem;
  padding-right: 8rem;
}

.container--pl {
  padding-left: 8rem;
}

.container-pr {
  padding-right: 8rem;
}

.container--mr {
  margin-right: 8rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border: 2px #837d87 solid;
  color: #2d2640;
  z-index: 99;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@-webkit-keyframes link1 {
  from {
    top: -40%;
    opacity: 0;
  }
  to {
    top: 0%;
    opacity: 1;
  }
}

@keyframes link1 {
  from {
    top: -40%;
    opacity: 0;
  }
  to {
    top: 0%;
    opacity: 1;
  }
}

.link1 {
  -webkit-animation: link1 1s ease-in forwards;
          animation: link1 1s ease-in forwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

@-webkit-keyframes link2 {
  from {
    left: -40%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes link2 {
  from {
    left: -40%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

.link2 {
  -webkit-animation: link2 1s ease-in forwards;
          animation: link2 1s ease-in forwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

@-webkit-keyframes link4 {
  from {
    bottom: -20%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes link4 {
  from {
    bottom: -20%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.link4 {
  -webkit-animation: link4 1s ease-in forwards;
          animation: link4 1s ease-in forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

@-webkit-keyframes mobileSlide {
  from {
    opacity: 0;
    left: -20%;
  }
  to {
    opacity: 1;
    left: 50%;
  }
}

@keyframes mobileSlide {
  from {
    opacity: 0;
    left: -20%;
  }
  to {
    opacity: 1;
    left: 50%;
  }
}

.mobileSlideIn {
  -webkit-animation: mobileSlide 700ms ease-in-out forwards;
          animation: mobileSlide 700ms ease-in-out forwards;
}

@-webkit-keyframes mobileSlideOut {
  from {
    left: 50%;
    opacity: 1;
  }
  to {
    left: -50%;
    opacity: 1;
  }
}

@keyframes mobileSlideOut {
  from {
    left: 50%;
    opacity: 1;
  }
  to {
    left: -50%;
    opacity: 1;
  }
}

.mobileSlideOut {
  -webkit-animation: mobileSlideOut 800ms ease-in-out;
          animation: mobileSlideOut 800ms ease-in-out;
}

.header nav {
  padding-top: 1rem;
}

@media (max-width: 63.9375em) {
  .header nav {
    padding: 2rem;
  }
}

@media (max-width: 39.9375em) {
  .header nav {
    padding: 1.5rem;
  }
}

.header__links > ul li:not(:last-child) {
  margin-right: 1.5rem;
}

.header__links > ul > li {
  text-transform: uppercase;
}

.header__links > ul > li > a {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #95a9c6;
  color: #837d87;
  font-size: 0.7rem;
}

.header__links ul:last-child li:last-child > a {
  font-size: 0.9rem;
  color: #2d2640;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.5rem 1.4rem;
}

.header__links ul:last-child li:last-child > a:hover {
  background: black;
  color: #fff;
}

.header__links ul:last-child li:last-child > a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  height: 20px;
  background: #2b272f;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

.header__links ul:last-child li:last-child > a::after:hover {
  width: 100%;
}

.header__links nav ul li:nth-child(4):hover::after {
  width: 100%;
}

.header__mobilemenu {
  position: relative;
}

@media (max-width: 63.9375em) {
  .header__mobilemenu {
    opacity: 0;
    background: #2b272f;
    padding: 1.625rem;
    padding: 1.625rem;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__mobilemenu a {
    position: relative;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #fafafa;
    padding: 0.625rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3rem;
    font-weight: 500;
  }
  .header__mobilemenu a:hover:not(:last-child) {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .header__mobilemenu > a:first-child {
    margin-top: 2rem;
  }
  .header__mobilemenu a:last-child:hover {
    border: 2px red solid;
    background: red;
    color: black;
    -webkit-transition: all linear ease-in-out;
    transition: all linear ease-in-out;
  }
  .header__mobilemenu .mobilecta {
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    border: 3px #fafafa solid;
    padding: 1rem 9rem;
  }
}

@media (max-width: 63.9375em) and (max-width: 39.9375em) {
  .header__mobilemenu .mobilecta {
    padding: 1rem 6.5rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 63.9375em) {
  .header__mobilemenu::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background: url("/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
}

@media (max-width: 39.9375em) {
  .header__mobilemenu {
    opacity: 0;
  }
  .header__mobilemenu::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 90%;
    background: green;
    background: url("/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: bottom;
  }
}

.section {
  background: #2d2640;
  color: #fff;
  position: relative;
  z-index: -1;
}

.section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 63.9375em) {
  .section > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 39.9375em) {
  .section::after {
    content: '';
    position: absolute;
    background: url("/images/bg-pattern-intro-left-mobile.svg") no-repeat;
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: 65%;
    top: -5%;
    right: 0;
    left: 0;
    z-index: -1;
  }
}

.section__content {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  margin-top: 2rem;
}

@media (max-width: 63.9375em) {
  .section__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    width: 100%;
    margin-left: 1rem;
    padding-bottom: 6.5rem;
  }
}

@media (max-width: 39.9375em) {
  .section__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    width: 100%;
    margin-left: 1rem;
    padding-bottom: 9.5rem;
  }
}

.section__content > div:first-child {
  width: 30%;
  height: 2px;
  background: #95a9c6;
  margin-top: -4rem;
}

@media (max-width: 63.9375em) {
  .section__content > div:first-child {
    display: none;
  }
}

.section__content h1 {
  font-size: 6rem;
  padding-right: 2rem;
  font-size: 4rem;
  font-family: 'DM Serif Display', serif;
  font-weight: 200;
  line-height: 1;
}

@media (max-width: 63.9375em) {
  .section__content h1 {
    font-size: 3.5rem;
    padding: 1rem 3rem;
  }
}

@media (max-width: 39.9375em) {
  .section__content h1 {
    font-size: 3rem;
    padding: 1rem;
  }
}

.section__content p {
  padding-right: 2rem;
  margin-top: -3rem;
  margin-top: -1.4rem;
  line-height: 2;
  padding-bottom: -2rem;
  font-size: 0.9rem;
  color: #fafafa;
  padding-bottom: 1rem;
}

@media (max-width: 63.9375em) {
  .section__content p {
    font-size: 1.3rem;
    line-height: 2.3rem;
    padding: 1rem 5rem;
  }
}

@media (max-width: 39.9375em) {
  .section__content p {
    font-size: 1.1rem;
    line-height: 2.1rem;
    padding: 1rem;
  }
}

.section__content::before {
  content: "";
  position: absolute;
  background: url("/images/bg-pattern-intro-left-desktop.svg") no-repeat;
  width: 100%;
  height: 100%;
  bottom: -72%;
  left: 0;
  background-size: contain;
  background-size: 13%;
}

@media (max-width: 63.9375em) {
  .section__content::before {
    display: none;
    background: url("/images/bg-pattern-intro-left-mobile.svg") no-repeat;
    width: 50%;
    height: 100%;
    background-position: left;
    top: 0;
    left: 0;
    right: 0;
    background-size: 90%;
  }
}

@media (max-width: 63.9375em) {
  .section__content::after {
    content: '';
    position: absolute;
    background: url("/images/bg-pattern-intro-right-mobile.svg") no-repeat;
    width: 65%;
    height: 100%;
    background-position: right;
    background-size: 70%;
    background-size: 35%;
    top: 60%;
    right: 0;
  }
}

@media (max-width: 39.9375em) {
  .section__content::after {
    content: '';
    position: absolute;
    background: url("/images/bg-pattern-intro-right-mobile.svg") no-repeat;
    width: 40%;
    height: 100%;
    background-position: right;
    background-size: 40%;
    background-size: contain;
    top: 60%;
    right: 0;
  }
}

.section__image {
  background: url("/images/image-intro-desktop.jpg") no-repeat;
  width: 53%;
  min-height: 110vh;
  background-size: cover;
  position: relative;
  background-position: right;
  top: 8rem;
}

@media (max-width: 63.9375em) {
  .section__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    top: 0;
    background-position: center;
    height: 30vh;
  }
}

@media (max-width: 39.9375em) {
  .section__image {
    min-height: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    top: 0;
    background-position: top;
    background-size: cover;
    background-size: 100%;
    height: 60vh;
  }
}

.section a {
  border: 2.5px #fafafa solid;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.6rem;
  padding: 0.6rem 3.5rem;
}

.section a:hover {
  z-index: -1;
  color: red;
  cursor: pointer;
}

.section a:hover {
  color: yellow;
}

.section::before {
  content: '';
  position: absolute;
  background: url("/images/bg-pattern-intro-right-desktop.svg") no-repeat;
  width: 45%;
  height: 900px;
  height: 100%;
  right: 0;
  background-position: top  right;
  background-size: 70%;
  z-index: 1;
}

@media (max-width: 63.9375em) {
  .section::before {
    display: none;
  }
}

.section .test {
  background: red;
  color: white;
}

.section .test > img {
  width: 50%;
  height: 200px;
  width: 200px;
}

.different {
  margin-top: 15rem;
}

@media (max-width: 63.9375em) {
  .different {
    margin-top: 10rem;
  }
}

@media (max-width: 39.9375em) {
  .different {
    margin-top: 13rem;
  }
}

.different > div:first-child {
  background: #95a9c6;
  width: 15%;
  height: 1.5px;
  margin-bottom: 4rem;
}

@media (max-width: 63.9375em) {
  .different > div:first-child {
    margin-bottom: 5rem;
    width: 20%;
    height: 1.7px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 39.9375em) {
  .different > div:first-child {
    width: 45%;
  }
}

.different__first {
  font-size: 3.5rem;
  font-family: 'DM Serif Display', serif;
  font-weight: 300;
}

@media (max-width: 63.9375em) {
  .different__first {
    text-align: center;
    font-size: 5rem;
  }
}

@media (max-width: 39.9375em) {
  .different__first {
    text-align: center;
    font-size: 3rem;
  }
}

.different__content {
  padding-top: 4rem;
}

@media (max-width: 63.9375em) {
  .different__content {
    padding-top: 5rem;
    display: block;
    text-align: center;
  }
}

.different__content > div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 63.9375em) {
  .different__content > div {
    margin-bottom: 5rem;
  }
}

@media (max-width: 39.9375em) {
  .different__content > div {
    margin-bottom: 4.5rem;
  }
}

.different__content img {
  width: 70px;
}

@media (max-width: 39.9375em) {
  .different__content img {
    width: 80px;
  }
}

.different__content h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.different__content p {
  margin-top: -0.6rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #837d87;
}

@media (max-width: 63.9375em) {
  .different__content p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 39.9375em) {
  .different__content p {
    font-size: 1.1rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.work {
  margin-top: 7rem;
  background: #2d2640;
  color: white;
  position: relative;
}

@media (max-width: 63.9375em) {
  .work {
    margin-top: 7rem;
    width: 80%;
  }
}

@media (max-width: 63.9375em) {
  .work {
    width: 90%;
  }
}

.work::before {
  content: '';
  position: absolute;
  background: url("/images/bg-pattern-how-we-work-desktop.svg") no-repeat;
  background-position: top right;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

@media (max-width: 63.9375em) {
  .work::before {
    background: url("/images/bg-pattern-how-we-work-mobile.svg") no-repeat;
    right: 0;
    background-position: top right;
  }
}

.work > div {
  padding: 3rem 7rem;
}

@media (max-width: 63.9375em) {
  .work > div {
    padding: 5rem 6rem;
    display: block;
    text-align: center;
  }
}

@media (max-width: 39.9375em) {
  .work > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 0;
    padding: 12rem 0;
  }
}

.work > div > div {
  font-family: 'DM Serif Display', serif;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 3rem;
  padding-right: 1rem;
}

@media (max-width: 63.9375em) {
  .work > div > div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 2.5rem;
    padding-right: 0rem;
  }
}

@media (max-width: 39.9375em) {
  .work > div > div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 2.5rem;
    padding-right: 0rem;
  }
}

.work > div a {
  border: 2px #fafafa solid;
  color: #fff;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.work > div a:hover {
  background: #fff;
  color: #2b272f;
  font-weight: 800;
}

@media (max-width: 63.9375em) {
  .work > div a {
    padding: 0.6rem 2rem;
    margin-top: 3.5rem;
  }
}

@media (max-width: 39.9375em) {
  .work > div a {
    margin-top: 2rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0.8rem 1.8rem;
    font-size: 0.9rem;
    font-weight: 200;
  }
}

.footer {
  margin-top: 10rem;
  position: relative;
  background: #fafafa;
}

@media (max-width: 39.9375em) {
  .footer {
    margin-top: 7rem;
  }
}

.footer__content {
  padding-top: 4.5rem;
  padding-bottom: 3.2rem;
  position: relative;
}

.footer__content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #95a9c6;
  bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 63.9375em) {
  .footer__content::before {
    left: 0;
    width: calc(100% - 4rem);
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin-top: 1px;
  }
}

@media (max-width: 63.9375em) {
  .footer__content {
    display: block;
    text-align: center;
  }
}

@media (max-width: 39.9375em) {
  .footer__logo > img {
    width: 100px;
  }
}

.footer__socials {
  font-size: 22px;
}

@media (max-width: 63.9375em) {
  .footer__socials {
    margin-top: 2rem;
  }
}

@media (max-width: 39.9375em) {
  .footer__socials {
    font-size: 30px;
    margin-top: 1rem;
  }
}

.footer__socials a {
  color: #837d87;
}

.footer__socials a:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 39.9375em) {
  .footer__socials a {
    padding-top: 0rem;
  }
}

.footer__links {
  margin-top: 2rem;
}

@media (max-width: 63.9375em) {
  .footer__links {
    display: block;
    text-align: center;
  }
}

.footer__links div {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footer__links div:nth-child(3) {
  margin-top: -2.7rem;
}

.footer__links div:last-child {
  margin-top: -2.7rem;
}

@media (max-width: 39.9375em) {
  .footer__links div:nth-child(2) {
    margin-top: -3rem;
  }
}

.footer__links h3 {
  color: #837d87;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
}

@media (max-width: 39.9375em) {
  .footer__links h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: #837d87;
  }
}

@media (max-width: 63.9375em) {
  .footer__div {
    margin-bottom: -3rem;
  }
}

.footer ul {
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 7rem;
}

@media (max-width: 63.9375em) {
  .footer ul {
    padding-bottom: 5rem;
  }
}

.footer ul > li {
  padding-bottom: 0.7rem;
}

@media (max-width: 39.9375em) {
  .footer ul > li {
    padding-bottom: 1rem;
  }
}

.footer ul > li a {
  text-transform: uppercase;
  color: #2d2640;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
  font-family: Karla, sans-serif;
  font-weight: 600;
  color: black;
}

@media (max-width: 39.9375em) {
  .footer ul > li a {
    font-size: 0.8rem;
    font-weight: 800;
  }
}

.footer::before {
  content: '';
  position: absolute;
  background: url("/images/bg-pattern-footer-desktop.svg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 40%;
  background-position: left top;
  left: -5%;
}

@media (max-width: 39.9375em) {
  .footer::before {
    background: url("/images/bg-pattern-footer-mobile.svg") no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
  }
}
/*# sourceMappingURL=styles.css.map */